table, th, td{
    width: 750px;
}
p{
    margin: 0px;
    border: 5px;
    padding: 10px;
    width: 750px;
    background-color: aqua;
    border-color: black;
}
h1{
    color: blue;
    background-color: red;
}