<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" href="CSS/myCSS.css">
    </head>

    <body>
        <h1>Hi <%=name%></h1>

        <table style="width: 100%;">
            <tr>
                <td><button class="tac" id="btn">Press The Button</button></td>
                <td><button class="tac" id="btn1">Press The Button</button></td>
                <td><button class="tac" id="btn2">Press The Button</button></td>     
            </tr>
            <tr>
                <td><button class="tac" id="btn3">Press The Button</button></td>
                <td><button class="tac" id="btn4">Press The Button</button></td>
                <td><button class="tac" id="btn5">Press The Button</button></td>
            </tr>
            <tr>
                <td><button class="tac" id="btn6">Press The Button</button></td>
                <td><button class="tac" id="btn7">Press The Button</button></td>
                <td><button class="tac" id="btn8">Press The Button</button></td>
            </tr>
        </table>

        <section>
            <button type="button" id="reset">Reset</button>
        </section>

        <script src="JS/myJavaScript.js" async defer></script>

    </body>
</html>
