<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" href="CSS/myCSS.css">

    </head>

    <body>

        <h1>Login</h1>

        <form action="/login" method="POST">

            <div>
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required>
            </div>
        
            <div>
                <label for="password">Password</label>
                <input type="text" id="password" name="password" required>
            </div>
        
            <section>
                <button type="submit">Login</button>
                <a href="/register">Create Login</a>
            </section>
        
        </form>

        <script src="JS/myJavaScript.js" async defer></script>

    </body>
</html>